<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>
      <a href="{% url 'create'%}">create</a><br>
      <a href="{% url 'index'%}">blog list</a><br>
      <a href="{% url 'search'%}">blog search</a><br>
      {% if user.is_authenticated %}
        <a href="{% url 'logout'%}">logout</a>
        <h2>Welcome,{{user.username}}</h2>
      {% else %}  
      <a href="{% url 'login'%}">login</a><br>
      <a href="{% url 'register'%}">Register</a>
      {% endif %}
      

      {% include "accounts/message.html" %}
      <br>
    <h1>Home Page</h1>
  </h1>
</body>
</html>