<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>

    <h3>
      {% include "accounts/message.html" %}
      <a href="{% url 'home'%}">Home</a>
    </h3>

    <h3>
      {% include "accounts/message.html" %}
      <a href="{% url 'create'%}">create</a>
    </h3>
    <div class="container">
      {% for obj in object_list %}
      <ul>
        <h3>
          =>Title &nbsp&nbsp<a href="{% url 'update' obj.id%}">{{obj.title}}</a>
        </h3>
        <li>{{ obj.content }}</li>
        <li><a href="{% url 'delete' obj.id %}">Delete</a></li>
      </ul>
      {% endfor %}
    </div>
  </body>
</html>
